extends ../includes/html

block variables 
    - var pageTitle = "Main"   

block content    

    p(style="position: absolute; top:50%; left:50%; margin-right:-50%; transform: translate(-50%, -50%);") Hello World !